@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.skillcontainer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	height: auto;
}

.skillcontainer .wrapper {
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-top: 2rem;
}
.skillcontainer .wrapper .card {
	width: calc(33% - 20px);
	height: 300px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}
.wrapper .card:hover {
	color: black;
	transform: translateY(-14px);
	transition: background 1s, color 1s, transform 0.5s;
}
.skillcontainer .wrapper .card .circle {
	position: relative;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	cursor: default;
}
.skillcontainer .card .text {
	font-family: var(--secondary-font);
	color: var(--primary-color);
	font-size: 16px;
	padding-top: 15px;
	margin-bottom: 1em;
	font-weight: 700;
	text-transform: capitalize;
}
@media (max-width: 753px) {
	.skillcontainer .wrapper {
		max-width: 700px;
	}
	.skillcontainer .wrapper .card {
		width: calc(50% - 20px);
		margin-bottom: 20px;
	}
}
@media (max-width: 505px) {
	.skillcontainer .wrapper {
		max-width: 500px;
	}
	.skillcontainer .wrapper .card {
		width: 100%;
	}
}
