@import "../../data/styles.css";
*,
*:after,
*:before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.reverse {
	transform: scaleY(-1); /* Flip vertically */
}
.parent {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	height: 90vh;
}

.div1 {
	grid-area: 1 / 1 / 5 / 6;
}
.div2 {
	grid-area: 5 / 1 / 6 / 6;
}
.intro {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column-reverse;
}
.homepage-logo-container {
	display: flex;
	justify-content: left;
	align-items: center;
}
.homepage-logo-container div {
	box-shadow: none !important;
}

.homepage-first-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.homepage-first-area-left-side {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.homepage-title {
	width: 85% !important;
}

.homepage-subtitle {
	width: 85% !important;
}

.homepage-first-area-right-side {
	display: flex;
	align-items: center;
}

.homepage-image-container {
	width: 370px;
	height: 370px;
}

.homepage-image-wrapper {
	overflow: hidden;
	border-radius: 10%;
	transform: rotate(3deg);
}

.homepage-image-wrapper img {
	width: 100%;
	border: 50px !important;
}

.homepage-socials {
	display: flex;
	justify-content: left;
	align-items: center;
	/* padding-top: 30px; */
}

.homepage-social-icon {
	padding-right: 20px;
	font-size: 25px;
	transition: color 0.2s ease-in-out;
	color: var(--secondary-color);
}

.homepage-social-icon:hover {
	color: var(--primary-color);
}

.homepage-after-title {
	display: flex;
}

.homepage-projects {
	flex-basis: 300px;
	padding-top: 40px;
	height: auto;
}

.homepage-articles {
	flex-basis: 900px;
	padding-top: 30px;
	margin-left: -30px;
}

.homepage-article {
	padding-bottom: 5px;
}

.homepage-works {
	flex-basis: 600px;
	padding-top: 30px;
}
.intro {
	margin-top: 2rem;
	width: 100%;
	height: auto !important;
}
.intro .container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
@media (max-width: 1024px) {
	.homepage-first-area {
		flex-direction: column;
	}

	.homepage-first-area-left-side {
		display: flex;
		flex-direction: column; /* Changed: set direction to column */
		align-items: flex-start;
		width: 100%;
		order: 2;
	}

	.homepage-title {
		width: 100% !important;
		margin-top: 20px;
		order: 2;
	}

	.homepage-subtitle {
		width: 100% !important;
		margin-top: 10px;
		order: 3;
	}

	.homepage-first-area-right-side {
		width: 100%;
		order: 1;
	}

	.homepage-image-container {
		padding-top: 50px;
		padding-bottom: 50px;
		margin-left: 10px;
		order: 1;
	}

	.homepage-after-title {
		flex-direction: column;
	}

	.homepage-projects {
		flex-basis: auto;
	}

	.homepage-articles {
		flex-basis: auto;
	}

	.homepage-works {
		flex-basis: auto;
		margin-left: -25px;
		margin-right: -25px;
	}
}

@media (max-width: 500px) {
	.carousel {
		padding: 0px;
		margin-top: 0px !important;
		height: 50vh;
	}

	.homepage-image-container {
		padding-top: 0px;
		padding-bottom: 0px;
		margin-left: 0px;
		/* order: 1; */
	}
	.homepage-title {
		margin-top: 0px;
	}
	.homepage-image-container {
		height: auto;
	}
	.parent {
		height: auto;
	}
	.div2 {
		display: flex;
		/* align-items: flex-end; */
	}
	.homepage-socials,
	.card__bx {
		margin-top: 1rem;
	}
}
