@import "../../data/styles.css";

.parent {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	height: 85vh;
}

.div1 {
	grid-area: 1 / 1 / 5 / 6;
}
.div2 {
	grid-area: 5 / 1 / 6 / 6;
	position: relative;
}
.intro {
	display: flex;
	flex-wrap: wrap;
}
.homepage-logo-container {
	display: flex;
	justify-content: left;
	align-items: center;
	padding-top: 50px;
}
.homepage-logo-container div {
	box-shadow: none !important;
}

.homepage-first-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.homepage-first-area-left-side {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.homepage-title {
	width: 85% !important;
}

.homepage-subtitle {
	width: 85% !important;
}

.homepage-first-area-right-side {
	display: flex;
	align-items: center;
}

.homepage-image-container {
	width: 370px;
	height: 370px;
}

.homepage-image-wrapper {
	overflow: hidden;
	border-radius: 10%;
	transform: rotate(3deg);
}

.homepage-image-wrapper img {
	width: 100%;
	border: 50px !important;
}

.homepage-socials {
	display: flex;
	justify-content: left;
	align-items: center;
	/* padding-top: 30px; */
}

.homepage-social-icon {
	padding-right: 20px;
	font-size: 25px;
	transition: color 0.2s ease-in-out;
	color: var(--secondary-color);
}

.homepage-social-icon:hover {
	color: var(--primary-color);
}

.homepage-after-title {
	display: flex;
}

.homepage-projects {
	flex-basis: 300px;
	padding-top: 40px;
}

.homepage-articles {
	flex-basis: 900px;
	padding-top: 30px;
	margin-left: -30px;
}

.homepage-article {
	padding-bottom: 5px;
}

.homepage-works {
	flex-basis: 600px;
	padding-top: 30px;
}
.intro {
	margin-top: 2rem;
	width: 100%;
	height: auto !important;
}
.intro .container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* .who {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
}
.desc {
	width: 50%;
}
.who img {
	width: 100%;
	height: auto;
} */
/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
	/*========== Colors ==========*/
	--text-color: #000000;
	--bg-color: #282828;

	/*========== Font and typography ==========*/
	--body-font: "Poppins", sans-serif;
	--normal-font-size: 0.938rem;
}

@media screen and (min-width: 968px) {
	:root {
		--normal-font-size: 1rem;
	}
}

/*==================== BASE ====================*/
*,
*:after,
*:before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*==================== REUSABLE CSS CLASSES ====================*/
/*==================== SERVICE CARD ====================*/
.card__container {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 100%;
	margin: 40px auto;
	height: auto !important;
}
.card__bx {
	--bg-clr: #282828;
	--txt-clr: #ffffff;
	--btn-txt-clr: #333333;
	--transition: all 0.5s;

	font-family: var(--primary-font);
	height: 400px;
	width: 300px;
	overflow: hidden;
	border-radius: 20px;
	border-top-left-radius: 70px;
	position: relative;
	overflow: hidden;
	background: var(--clr);
	transition: var(--transition);
}
.card__1 {
	--clr: #7a43e9;
}
.card__2 {
	--clr: #7a43e9;
}
.card__3 {
	--clr: #7a43e9;
}
.card__bx .card__data {
	position: absolute;
	inset: 10px;
	border-radius: 10px;
	background: var(--bg-clr);
}
.card__bx .card__data .card__icon {
	position: absolute;
	top: 0;
	left: 0;
	border-bottom-right-radius: 50%;
	height: 140px;
	width: 140px;
	background: var(--clr);
}
.card__bx .card__data .card__icon::before {
	content: "";
	position: absolute;
	bottom: -30px;
	left: 0;
	height: 30px;
	width: 30px;
	border-top-left-radius: 30px;
	background: transparent;
	box-shadow: -5px -5px 0 5px var(--clr);
}
.card__bx .card__data .card__icon::after {
	content: "";
	position: absolute;
	right: -30px;
	top: 0;
	height: 30px;
	width: 30px;
	border-top-left-radius: 30px;
	background: transparent;
	box-shadow: -5px -5px 0 5px var(--clr);
}
.card__bx .card__data .card__icon .card__icon-bx {
	position: absolute;
	inset: 10px;
	border-radius: 10px;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 60px;
	background: var(--bg-clr);
	color: var(--clr);
}
.card__bx:hover .card__data .card__icon .card__icon-bx {
	background: var(--clr);
	color: var(--txt-clr);
	transition: var(--transition);
}
.card__bx .card__data .card__content {
	position: absolute;
	top: 150px;
	padding: 20px;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 15px;
	color: var(--txt-clr);
}
.card__bx .card__data .card__content h3 {
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.card__bx .card__data .card__content p {
	font-size: 14px;
	opacity: 0.75;
}
.card__bx .card__data .card__content a {
	display: inline-flex;
	align-self: center;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	border-radius: 30px;
	border: 2px solid var(--clr);
	color: var(--btn-txt-clr);
	background: var(--clr);
	transition: var(--transition);
}
.card__bx .card__data .card__content a:hover {
	background: transparent;
	color: var(--clr);
}
@media (max-width: 1024px) {
	.homepage-first-area {
		flex-direction: column;
	}

	.homepage-first-area-left-side {
		display: flex;
		flex-direction: column; /* Changed: set direction to column */
		align-items: flex-start;
		width: 100%;
		order: 2;
	}

	.homepage-title {
		width: 100% !important;
		margin-top: 20px;
		order: 2;
	}

	.homepage-subtitle {
		width: 100% !important;
		margin-top: 10px;
		order: 3;
	}

	.homepage-first-area-right-side {
		width: 100%;
		order: 1;
	}

	.homepage-image-container {
		padding-top: 50px;
		padding-bottom: 50px;
		margin-left: 10px;
		order: 1;
	}

	.homepage-after-title {
		flex-direction: column;
	}

	.homepage-projects {
		flex-basis: auto;
	}

	.homepage-articles {
		flex-basis: auto;
	}

	.homepage-works {
		flex-basis: auto;
		margin-left: -25px;
		margin-right: -25px;
	}
}

@media (max-width: 500px) {
	.carousel {
		padding: 0px;
		margin-top: 0px !important;
		height: 50vh;
	}

	.homepage-image-container {
		padding-top: 0px;
		padding-bottom: 0px;
		margin-left: 0px;
		/* order: 1; */
	}
	.homepage-title {
		margin-top: 0px;
	}
	.homepage-image-container {
		height: auto;
	}
	.parent {
		display: grid;

		height: auto;
	}
	.who {
		width: 100%;
	}
}
