@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Roboto:wght@500&display=swap");
@import "./data/styles.css";

body {
	margin: 0;
	font-family: var(--primary-font);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.text {
	font-family: var(--secondary-font);
	color: var(--primary-color);
	/* font-size: 1rem; */
	padding-top: 15px;
	margin-bottom: 1em;
	/* font-weight: 700; */
	text-transform: capitalize;
}

@media (max-width: 500px) {
	.homepage-title {
		font-size: 2rem !important;
		text-align: center !important;
	}
}
